#block {
    width: 200px;
    height: 200px;
    background-image: url(4k-wallpaper-art-artistic-background.jpg);
    background-position: center;
    background-size: cover;
}

#color {
    width: 200px;
    height: 200px;
    border-radius: 300px;
}

#salom1 {
    width: 200px;
    height: 200px;
}

#salom2 {
    width: 200px;
    height: 200px;
    border-radius: 300px;
}